{% load static %}
<!doctype html>
<html lang="ru" class="htl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>О сайте</title>
    <link rel="stylesheet" href="{% static 'polls/css/main.css' %}">
    <link rel="stylesheet" href="http://use.fontawesome.com/releases/v5.8.2/css/all.css">
</head>
<title>О сайте</title>
<div class="features">
    <h1>Первая верстка</h1>
    <p>при верстке я сахронял элементы в png и jpg формате, ну так безусловно легко было верстать,</p>
    <p>но есть элементы которые я сам создавал с помощью css, с лева и с права в верхнем углу,</p>
    <p>например blow и home, about, work, contact </p>
</div>
